@{
    ViewData["Title"] = "Home Page";
}

@section Css{
    <link rel="stylesheet" href="~/css/example.css" asp-append-version="true" />
<style>
    h1{
        color:red;
        background-color:blue;
    }
</style>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <hr/>
    <h2>Merhaba Asp.Net</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
/